<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/styles.css">
    <title>Tic-Tac-Toe</title>
</head>
<body>
<div class="menu-container">
    <h1>Tic-Tac-Toe</h1>
    <a href="game.html">
        <button id="playButton" class="play-button">Play</button>
    </a>
    <div class="picture">
        <p class="X">X</p>
        <img class="swords" src="/resources/swords.svg" alt="swords">
        <p class="O">O</p>
    </div>
</div>

<script src="/resources/scripts/game.js"></script>
</body>
</html>